<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1 :Data Science Tools and Ecosystem

***In this notebook, Data Science Tools and Ecosystem are summarized.***

***Some of the Popular Languages:***
 1. Python
 2. R 
 3. Java
 4. c

***Some of the commonly used libraries used by Data Scientists include:***
1. Pandas
2. Numpy
3. Matplotlib
4. Scipy
5. scikitlearn

***markdown cell with a table of Data Science tools***
|Data Science Tools|
--------------------
|JUPYTER NOTE BOOK|
|PYTHON|
|R LANGUAGE|
|GIT HUB|
|IBM WATSON CLOUD|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
200%60

20

***Objectives:***
 * Python
 * R 
 * Java
 * c

## h2: Author
***name***